.TxnCardWrapper{
	display: flex;
	flex-direction: row;
	gap: 50px;
	margin: auto;
	border: 1px solid #E0E0E0;
	padding: 20px;
	margin-bottom: 40px;
	width: 1000px;
	justify-content: space-between;
}

.TxnCardContent{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.TxnCardAddress{
	display: flex;
	flex-direction: row;
	gap: 20px;
}