.AssetCardWrapper {
	display: flex;
	flex-direction: row;
	margin: auto;
	/* width: 15%; */
	justify-content: space-around;
	border: 1px solid #FFF;
	padding: 25px;
	max-width: 1000px;
}

.AssetCardContent {
	display: flex;
	flex-direction: row;
	gap: 35px;
}

@media (max-width: 600px) {
	.AssetCardContent {
		display: flex;
		flex-direction: column;
		font-size: 0.8em;
		gap: 15px;
	}
}