.KineticKeyHomeWrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.KineticKeyHome {
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin-top: 150px;
}

.KineticKeyHomeHeading {
	font-size: 1.2em;
	font-weight: 600;
	color: #FFF;
}

.KineticKeyHomeDescription {
	width: 500px;
	margin: auto;
}

.KineticKeyHomeForm {
	display: flex;
	flex-direction: column;
	gap: 35px;
	width: 450px;
	margin: auto;
}

.KineticKeyHomeFormWrapper {
	display: flex;
	flex-direction: column;
	gap: 100px;
}