.KineticKeyHomeWrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.KineticKeyHome {
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin-top: 150px;
}

.KineticKeyHomeHeading {
	font-size: 1.2em;
	font-weight: 600;
	color: #FFF;
}

.KineticKeyHomeDescription {
	width: 500px;
	margin: auto;
}

.KineticKeyHomeForm {
	display: flex;
	flex-direction: column;
	gap: 35px;
	width: 450px;
	margin: auto;
}

.KineticKeyHomeFormWrapper {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.ResultWrapper {
	display: flex;
	width: 500px;
	flex-direction: column;
	margin: auto;
}

.ResultText {
	display: block;
	width: 500px;
	margin: auto;
	/* Adjust width as needed */
	white-space: normal;
	word-break: break-word;
	/* Ensures long words break */
	overflow-wrap: break-word;
	/* Alternative for better compatibility */
	font-weight: 500;
}

.Results {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 40px;
}